
.nuka-victory-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nuka-victory-body{
    background-color:var(--nuka-victory-color);
    color:var(--text-color-inverse);
    
}

.img-container{
    display: flex;
}

.victory-img-section{
    position: relative;
    padding: 20px;
}

.victory-img{
    width: 100%;
    max-width: 550px;
    border-radius: 20%;
}

.victory-title{
    text-align: center;
    font-family: 'Lobster';
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
    color: var(--secondary-color);
}

.victory-details{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    max-width: 650px;
    margin: 20px auto;
}



.victory-grid{
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.wave-victory{
    width: 100%;
    position: relative;
    top: 2px;
}

.wave-victory-bottom{
    width: 100%;
    transform: scaleY(-1);
    position: relative;
    top: -2px;
}

@media(min-width:950px){
    .nuka-victory-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


.victory-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
}



.victory-grid{
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}



}


